@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

@font-face {
  font-family: 'josefin_sansbold';
  src: url('../fonts/josefinsans-bold-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'josefin_sansbold_italic';
  src: url('../fonts/josefinsans-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'josefin_sansregular';
  src: url('../fonts/josefinsans-italic-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'josefin_sanslight';
  src: url('../fonts/josefinsans-light-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'josefin_sanslight_italic';
  src: url('../fonts/josefinsans-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'josefin_sansregular';
  src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'josefin_sanssemibold';
  src: url('../fonts/josefinsans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'josefin_sanssemibold';
  src: url('../fonts/josefinsans-semibolditalic-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'josefin_sansthin';
  src: url('../fonts/josefinsans-thin-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'josefin_sansthin';
  src: url('../fonts/josefinsans-thinitalic-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-thinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --white-color: #fff;
  --primary-color: #363636;
  --hover-color:#07786e;
  --secondary-color: #25476d;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 2rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
}
.btn {
  padding: 10px;
  border-radius: 6px;
  background-color: #fcfcfc;
  color: #0161c3;
  border: 1px solid #cfcfcf;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--secondary-color);
}
.img-responsive {
  max-width: 100%;
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 5rem;
  background-color: #0ab9a7;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--white-color);
  font-weight: var(--normal-font);
  font-family: 'josefin_sansbold';
}

nav a {
  color: var(--white-color);
  transition: var(--transition);
  text-transform: uppercase;
}
nav li:hover {
  color: var(--white-color);
  background-color: var(--hover-color);
  cursor: pointer;
}

.dropdown > li:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.dropdown > li{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul {
  display: flex;
}

nav ul li {
  font-weight: var(--normal-font);
  font-family: 'josefin_sansregular';
  padding: 14px 16px;
  display: inline-block;
}

.burger-menu {
  color: var(--white-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  margin-top: 50px;
  border-radius: 10%;
  max-width: 20%;
}

.bio {
  padding: 0.625rem;  
}
.bio-title {
  font-family: 'josefin_sansbold';
  font-size: 34px;
  color: #008275;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  padding: 0.3rem 0;
  font-family: 'josefin_sansregular';
  font-size: 2.0vw;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-color);
  margin: 2rem 5rem;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  padding: 1rem;
  border-radius: 6px;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  font-family: 'josefin_sanslight';
  font-size: 36px;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
  font-family: 'josefin_sansregular';
  font-size: 20px;
}
/* More about ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
  font-family: 'josefin_sanslight';
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 8rem;
  height: 8rem;
}
.animate__pulse {
  text-align: left;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'josefin_sanslight';
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
  font-family: 'josefin_sansbold';
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  font-family: 'josefin_sanslight';
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 1px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: #008275;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  color: var(--bg-color);
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: #008275;
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    margin: 6.5rem 0;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
    margin: 15px auto;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
  .animate__pulse {
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    max-width: 50%;
  }

  .bio {
    width: 18.3rem;
  }
  .bio-title {
    font-size: 24px;
    text-align: center;
    margin: 15px 0 0 0;
  }

  p.bio-text {
    font-size: 18px;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
  .more-about {
    margin: 1rem;
    padding: 1rem;
  }
  .more-about p {
    text-align: center;
  }
}


.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
        }


